In [4]:
## 字符串声明
name = 'chuye' #单引号
city = '杭州'
text = "welcome to hangzhou" #双引号，主要应用于字符串中含有引号，比如"I'm a student"
## 三引号, 主要用于多行字符串
text2 = """This is a text""" 
text2

'This is a text'

In [20]:
## 转义字符
# \newline 接下一行
## \\ 表示\\
## \' 表示单引号
## \" 表示双引号
## \n 换行
## \t 横向制表符
## \b 退格
## \v 纵向制表符
s = 'a\nb\tc'
print(s)

a
b	c

In [24]:
# 字符串常用操作
## 访问
name = 'huangyuze'
# 访问第0个字符
name[0]
# 切片操作, 索引从0开始
name[1:3]
# 遍历字符串
# for char in name:
#     print(char)

# 字符串是不可变的（immutable）
# name[0] = 'H' # 报错
# 通过创建新字符串来完成
# name = 'H' + name[1:] # 方式1
name = name.replace('h', 'j') # 方式2
name
# Java 中有 StringBuilder类型的可变字符串，目前Python中无此特性
## 字符串拼接, 新版本的python，+= 无需担心性能问题
name += ', hangzhou'
name
## 使用 join 函数
l = []
for n in range(0, 100):
    l.append(str(n))
l = ''.join(l)  
l
## 字符串分隔
str = "java-python-sql-shell"
# 返回列表
str1 = str.split('-')
str1

['java', 'python', 'sql', 'shell']

In [31]:
# 字符串其他操作
## 去除空格
name = ' chuye '
## 去除前后空格
#print(name.strip())
## 去除开头空格
print(name.lstrip())
## 去除尾部空格
print(name.rstrip())

chuye
 chuye

In [34]:
# 字符串格式化
##方式1:
print('no data available for person with id: {}, name:{}'.format(12, 'chuye'))
## 方式2:
print('no data available for person with id: %d, name: %s' %(12, 'chuye'))

no data available for person with id: 12, name:chuye
no data available for person with id: 12, name: chuye